@model Atividade1.Models.Evento

@{
    ViewData["Title"] = "Detalhes";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <h1 class="text-center text-primary">Detalhes do Evento</h1>

        <div class="card p-3">
            <h4>Evento</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </dl>
        </div>

        <div class="text-center mt-3">
            <a asp-action="Edit" asp-route-id="@Model?.EventoID" class="btn btn-warning">Editar</a> |
            <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>